/* Background */
body {
  background-image: linear-gradient( cornflowerblue, royalblue, blue, #c91bc9, indigo, darkviolet, blueviolet, blue, royalblue, cornflowerblue);
  margin: 0;
}

@keyframes text-animate {
  
  0% {color: lightblue;}
  17% {color: blue;}
  33% {color: purple;}
  50% {color: darkviolet;}
  67% {color: blueviolet;}
  84% {color: blue;}
  100% {color: lightblue;}
}
/* Banner */
h1 {
  text-align: center;
  color: white;
  font-family: 'Wix Madefor Display', sans-serif;
  animation-name: text-animate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  font-size: 80px;
}

h2 {
  text-align: center;
  color: white;
  font-family: '', sans-serif;
  font-size: 50px;
}

a {
  transition: color .15s ease-in-out;
}

a:hover {
  color: #d1dffa;
}

/*content*/
section {
  width: initial;
  /*background-color: #FFDF00*/;
  margin:auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* text formatting */
.text {
  margin: 10px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  background: #6d9efa;
  border-radius: 10px;
}

p {
  font-family: 'Montserrat', sans-serif;
  color:white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #139afd;
  overflow: hidden;
}

li {
  float: left;
  font-family: 'Poppins', sans-serif;
}

li a, .dropbtn {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #7cbef3;
  color: black;
}

li a.active {
  background-color: #001ac8;
  color: white;
  transition: background-color .25s ease-in-out;
}

li a.active:hover {
  background-color: #001cdd;
}





#image1 {
  background-image: url(Images/image1.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 100px;
  background-attachment: fixed;
}

#image2{
  background-image: url(Images/image1.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 100px;
  background-attachment: fixed;
}

#image3 {
  background-image: url(Images/image1.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 100px;
  background-attachment: fixed;
}

nav {
  position: sticky;
  top: 0;
}

img {
  width: 60%;
  border-radius: 10px;
  margin: auto;
  display: block;
}

#projects img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-left: 20%;
  margin-bottom: 20px;
  display: inline-block;
  transition: box-shadow 0.5s;
}

.imgLink:hover {
  box-shadow: 6px 6px #8080ff;
}

@font-face {
  font-family: "Good Times";
  src:
    local("Good Times"),
    url("https://replit.com/@GeorgeC12/Draw#good%20times%20rg.otf")
}

/*responsive layout*/

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  header {
    height: 80px;
  }
  
  p {
    column-count: 1;
  }
  
  #image1 {
    display: none;
  }

  #image2 {
    display: none;
  }

  #image3 {
    display: none;
  }
  
  body {
    background-color: royalblue;
    /*background-image: linear-gradient(to bottom right, blue, royalblue 8%, royalblue 10%, cornflowerblue 20%, cornflowerblue 30%, royalblue 40%, blue 45%, royalblue 60%, cornflowerblue 70%, cornflowerblue 80%, royalblue 90%, blue 95%);*/
    background-image: none;
}

#projects img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.imgLink:hover {
  box-shadow: 3px 3px #8080ff;
}